.caixas{
    display:flex;
    height:669px;
}

.caixa1{
    width:37.1%;
    height:669px;
    background-color:rgba(255, 116, 140, 1);
    margin-top:23px;
    display:felx;
    justify-content:center;
    align-items: center;
    margin-left:2.4%;
}

.texto1{
    width:222px;
    height:113px;
    margin-top:132px;
    color:rgba(255, 255, 255, 1);
    margin-left:110px;
    font-size:96px;
    font-family: Raleway;
    font-weight: 600;
    line-height: 112.7px;
    text-align: left;
    
}

.caixa2{
    width: 57.96%;
    height: 669px;
    margin-top: 23px;
    background-color: rgba(142, 202, 230, 1);

}

.texto2{
    font-family: Raleway;
    font-size: 96px;
    font-weight: 600;
    line-height: 112.7px;
    text-align: left;
    
}

.puts{
    display:flex;
    margin-top:230px;
    margin-left:41.5%;
}

.butao{
    margin-top:56px;
    width:220px;
    height:56px;
    background-color:rgba(142, 202, 230, 1);
    border-top:0.5px;
}

.icone{
    margin-left:120px;
    margin-top:157px;
}