.create{
    background-color:rgba(2, 48, 71, 1);
    width: 100%;
    height: 28.2%;
    gap: 0px;
    opacity: 0px;
    display:flex;
}

.colocar{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.15px;
    text-align: left;
    color:rgba(255, 116, 140, 1);
    margin-left:255px;
    margin-top:60px;
}

button{
    background-color: rgba(255, 116, 140, 1);
    width:59px;
    height:56px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:30px;
    margin-left:45px;
    margin-top:55px;
}

.nome{
    width:220px;
    margin-left:28px;
    height:45px;
    text-align:left;
    margin-bottom:0px;
}
.preco{
    margin-left:19px;
    margin-right:19px;
}

input{
    background-color:rgba(2, 48, 71, 1);
    border-top:0px;
    border-left:0px;
    border-right:0px;
    border-color:rgba(255, 116, 140, 1);
    width:100%;
    height:25px;
    color:white;
    font-size:20px;
}

.mais{
    width:14px;
    height:14px;
}

form{
    display:flex;
    justify-content:center;
}

label{
    font-size:12px;
    height:15px;
    margin-top:0px;
    margin-bottom:0px;
    flex-direction: column;
    display:flex;
}
