.item{
    background-color:rgba(255, 255, 255, 1);
    width: 228px;
    height: 16.6%;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    
}

.nome {
    width: 100%;
    display:flex;
    text-align: center;
    margin-top: 25px;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 600;
    line-height: 46.96px;
}

.imagem{
    margin-left:60.8px;
    margin-top:20.1px;
}

a{
    text-decoration: none;
    color:black;
}