.text1{
    width: 736.81px;
    height: 120.83px;
    margin-top: 20px;
    margin-left: 29.2%;
    gap: 0px;
    opacity: 0px;
    font-family: Raleway;
    font-size: 128px;
    font-style: italic;
    font-weight: 600;
    line-height: 150.27px;
    text-align: left;
    color: rgba(255, 116, 140, 1);
    margin-bottom:0px;
}

.text2{
    font-family: Raleway;
    font-size: 36px;
    font-style: italic;
    font-weight: 600;
    line-height: 42.26px;
    text-align: left;
    width: 828px;
    height: 71px;
    margin-top: 20px;
    margin-left: 29.2%;
    gap: 0px;
    opacity: 0px;    
    color:rgba(255, 116, 140, 1);
    margin-bottom:0px;
}