.raleway-logo1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.raleway-logo2 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  

.navBar{
    background-color:rgba(151, 71, 255, 1);
    display:flex;
    justify-content:space-between;
    width: 100%;
    height: 13.7%;
    margin-left:0px;
}

.logo1{
    font-family: "Raleway", sans-serif;
    color:rgba(255, 255, 255, 1);
    width:16.875%;
    height:47px;
    margin-top:31px;
    margin-left:43px;
    font-size:40px;
    line-height: 46.96px;
    letter-spacing: 0.15px;
    font-family: Raleway;
    font-weight: 600;
    text-align: left;
    width: 216px;
    gap: 0px;
    opacity: 0px;
}

.logo2{
    width: 263px;
    height: 42px;
    margin-top: 36px;
    margin-right:15px;
    color: rgba(217, 217, 217, 1);
    font-family: Roboto;
    font-size: 34px;
    font-weight: 400;
    line-height: 41.99px;
    letter-spacing: 0.25px;
    text-align: right;
    
}

a{
  text-decoration: none;
  color:none;
}

#um{
  color:rgba(255, 255, 255, 1);
}

#dois{
  color:rgba(217, 217, 217, 1);
}